@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-matte-900 text-white;
  font-family: 'Inter', system-ui, sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-matte-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-gold-500 rounded-full;
}

/* Kills the text highlight cursor globally to make it feel like a native app */
body {
  user-select: none;
  -webkit-user-select: none;
}

/* Ensures users can still type their stakes and aliases */
input, textarea {
  user-select: auto;
  -webkit-user-select: auto;
}
